.cta {
  margin: 1rem 0;
  width: 100%;
  @include flex($justify: space-between);
  gap: 0.5rem;
  &__link {
    cursor: pointer;
    border: 0;
    padding: 0.5rem 0.75rem;
    background: $primary-font;
    color: $primary-background-600;
    &--contact {
      margin: 1rem;
      @include flex($align: center);
      span {
        padding-left: 1rem;
      }
    }
    &:hover {
      opacity: 0.95;
    }
  }
}
