.cta {
  margin: 1rem 0;
  width: 100%;
  @include flex;
  gap: 0.5rem;
  &__link {
    border: 0;
    padding: 0.25rem 0.5rem;
    background: $primary-font;
    color: $primary-background-600;
    &:hover {
      opacity: 0.95;
    }
  }
}
