.contact {
  @include background-primary;
  &__columns {
    @include flex;
    > div {
      width: 50%;
      padding: 2rem;
      @include flex(column);
    }
  }
  &__form {
    @include flex(column);
    label {
      padding: 1rem 0 0.5rem 0;
    }
  }
  &__input,
  &__textarea {
    @include padding;
    background: $secondary-background;
    color: $primary-font;
    border: 0;
  }
  &__submit {
    background: $primary-font;
    color: $primary-background-300;
    padding: 1rem;
  }
  &__input,
  &__textarea {
    font-weight: 600;
  }
  &__textarea {
    resize: none;
  }
  &__submit {
    cursor: pointer;
    margin: 1rem 0;
    border: 0;
    font-size: $h4-font-size;
    &:hover {
      opacity: 0.95;
    }
  }
  h2 {
    width: 100%;
  }
}
