footer {
  background: $primary-background-600;
  padding: 2.5rem;
  @include flex($justify: space-between);
  @include desktop {
    padding: 5rem;
  }
  div {
    @include flex(column);
  }
  a {
    padding: 0.5rem;
  }
}
