.header {
  position: fixed;
  top: 0;
  width: 100%;
  @include background-primary;
  @include padding;
  @include flex($justify: space-between, $align: center);
  &__flex {
    width: 100%;
    @include flex($justify: space-between, $align: center);
    flex-wrap: nowrap;
  }
  &__nav {
    flex-grow: 1;
    @include flex($align: flex-end);
  }
  &__link {
    font-size: 1rem;
    padding: 0.35rem;
    margin: 0 0.5rem;
    @media (min-width: $tablet-width) {
      font-size: 1.125rem;
      padding: 0.5rem 1rem;
    }
    &:hover {
      background: $primary-font;
      color: $primary-background-300;
      opacity: 0.95;
    }
  }
  &--sticky {
    z-index: 100;
    align-items: center;
    h1 {
      font-size: $h3-font-size;
    }
    .header__nav {
      width: 100%;
      flex-direction: row;
      align-items: center;
      flex-wrap: nowrap;
    }
    .hero {
      padding-top: 4rem;
    }
  }
}
