.hero {
  min-height: 100vh;
  @include flex(column, space-between);
  @include background-primary;
  &__about {
    margin: 3rem 1rem;
    @include tablet {
      width: 60%;
    }
    @include desktop {
      width: 40%;
    }
  }
  &__info-title {
    margin: 1rem 0;
  }
}
