.work {
  &__content {
    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
  &__article {
    @include flex(column, space-between);

    margin: 1rem 0;
  }
}
