.work {
  &__description {
    padding: 1rem 0;
    @include tablet {
      width: 60%;
    }
    @include desktop {
      width: 40%;
    }
  }
  &__content {
    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 1.5rem;
    }
  }
  &__article {
    margin: 1rem;
    @include flex(column, space-between);
  }
}
