//variables

//font families
$display-font-family: "Cinzel Decorative", cursive;
$heading-font-family: "Cinzel", serif;
$base-font-family: "Raleway", sans-serif;

//font sizes
$base-font-size: 18px;
$h1-font-size: 4.5rem;
$h2-font-size: 3rem;
$h3-font-size: 1.5rem;
$h4-font-size: 1.25rem;
